## Table of Contents

**1. Import Libraries**

**2. Create a Path**

**3. Import Data**

**4. Understand Data**

**5. Data Consistency Check and Data Cleaning**

**6. Export Cleaned Data**

### 1. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import os as os

### 2. Create a Path

In [2]:
# Create a data path
path = r'/Users/bonnieandbanana/Desktop/A New Career/CareerFoundry/Data Immersion/A6_Advanced Analytics : Dashboard /Air_Pax_Traffic_Analysis'

### 3. Import Data

In [3]:
# Import data
df = pd.read_csv(os.path.join(path,'02 Data','Original Data','Air_Traffic_Passenger_Statistics.csv'), index_col = False)

### 4. Understand Data

In [4]:
# Understand columns
df.columns.tolist()

['index',
 'Activity Period',
 'Operating Airline',
 'Operating Airline IATA Code',
 'Published Airline',
 'Published Airline IATA Code',
 'GEO Summary',
 'GEO Region',
 'Activity Type Code',
 'Price Category Code',
 'Terminal',
 'Boarding Area',
 'Passenger Count',
 'Adjusted Activity Type Code',
 'Adjusted Passenger Count',
 'Year',
 'Month']

In [5]:
# Check data shape
df.shape

(15007, 17)

In [6]:
# Check data types
df.dtypes

index                           int64
Activity Period                 int64
Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Passenger Count                 int64
Adjusted Activity Type Code    object
Adjusted Passenger Count        int64
Year                            int64
Month                          object
dtype: object

In [7]:
# Check data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   index                        15007 non-null  int64
 1   Activity Period              15007 non-null  int64
 2   Operating Airline            15007 non-null  object
 3   Operating Airline IATA Code  14953 non-null  object
 4   Published Airline            15007 non-null  object
 5   Published Airline IATA Code  14953 non-null  object
 6   GEO Summary                  15007 non-null  object
 7   GEO Region                   15007 non-null  object
 8   Activity Type Code           15007 non-null  object
 9   Price Category Code          15007 non-null  object
 10  Terminal                     15007 non-null  object
 11  Boarding Area                15007 non-null  object
 12  Passenger Count              15007 non-null  int64
 13  Adjusted Activity Type Code  15007 non-null  object
 14  Adjusted Passenger Count     15007 non-null  int64
 15  Year                         15007 non-null  int64
 16  Month                        15007 non-null  object
dtypes: int64(5), object(12)
memory usage: 1.9+ MB

In [8]:
# Understand data statistics
df.describe()

,index,Activity Period,Passenger Count,Adjusted Passenger Count,Year
count,15007.00000,15007.000000,15007.000000,15007.000000,15007.000000
mean,7503.00000,201045.073366,29240.521090,29331.917105,2010.385220
std,4332.29208,313.336196,58319.509284,58284.182219,3.137589
min,0.00000,200507.000000,1.000000,1.000000,2005.000000
25%,3751.50000,200803.000000,5373.500000,5495.500000,2008.000000
50%,7503.00000,201011.000000,9210.000000,9354.000000,2010.000000
75%,11254.50000,201308.000000,21158.500000,21182.000000,2013.000000
max,15006.00000,201603.000000,659837.000000,659837.000000,2016.000000

### 5. Data Consistency Check and Data Cleaning

In [9]:
# Check for null values
df.isnull().sum()

index                           0
Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    54
Published Airline               0
Published Airline IATA Code    54
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
Adjusted Activity Type Code     0
Adjusted Passenger Count        0
Year                            0
Month                           0
dtype: int64

In [10]:
# Remove rows with null values in these columns
df = df.dropna(subset=['Operating Airline IATA Code', 'Published Airline IATA Code'])

In [11]:
# Examine result
df.isnull().sum()

index                          0
Activity Period                0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
Adjusted Activity Type Code    0
Adjusted Passenger Count       0
Year                           0
Month                          0
dtype: int64

In [12]:
# Identify duplicates
df_dups = df[df.duplicated()]
df_dups

Empty DataFrame
Columns: [index, Activity Period, Operating Airline, Operating Airline IATA Code, Published Airline, Published Airline IATA Code, GEO Summary, GEO Region, Activity Type Code, Price Category Code, Terminal, Boarding Area, Passenger Count, Adjusted Activity Type Code, Adjusted Passenger Count, Year, Month]
Index: []

In [13]:
# Check for mixed-type data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

### 6. Export Cleaned Data

In [16]:
# Export data
df.to_csv(os.path.join(path, '02 Data' , 'Prepared Data', 'air_pax_traffic_data_cleaned.csv'))